<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorveteria</title>
    <link rel="stylesheet" type="text/css" href="Costumização_Inicio.css"> 
</head>
<body>
    <!--menu com as opções -->
    <div id="full-header">
        <header>
            <a href="/" class="logo">
                <img src="Logo.png" alt="logo">
            </a>
            <nav>
                <ul>
                    <li class="active">
                        <a href="pagina_inicial.html">Home</a>
                    </li>
                    <li class="menu-dropdown">
                        <a href="pagina_produtos.html">Produtos</a>
                        <ul>
                            <li class="azul">
                                <a href="#">Sorvetes</a>
                            </li>
                            <li class="lilas">
                                <a href="#">Açai</a>
                            </li>
                            <li class="amarelo">
                                <a href="#">Picolés</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="pagina_pedidos.html">Pedidos</a>
                    </li>
                    <li>
                        <a href="pagina_carrinho.html">Carrinho</a>
                    </li>
                    <li>
                        <a href="pagina_cadastro.html">Cadastro</a>
                    </li>
                    <li>
                        <a href="pagina_login.html">Login</a>
                    </li>
                    
                </ul>
            </nav>
        </header>
    </div>









</body>
</html>