<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorveteria</title>
    <link rel="stylesheet" type="text/css" href="Costumização_Inicio.css"> 
</head>
<body>
    <!--menu com as opções -->
    <div id="full-header">
        <header>
            <a href="/" class="logo">
                <img src="picole.png" alt="picole logo">
            </a>
            <nav>
                <ul>
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li class="menu-dropdown">
                        <a href="#">Produtos</a>
                        <ul>
                            <li>
                                <a href="#">Sorvetes</a>
                            </li>
                            <li>
                                <a href="#">Açai</a>
                            </li>
                            <li>
                                <a href="#">Picolés</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pedido</a>
                    </li>
                    <li>
                        <a href="#">Carrinho</a>
                    </li>
                    <li>
                        <a href="#">Cadastro</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                    
                </ul>
            </nav>
        </header>
    </div>









</body>
</html>